/* @import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #111;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
} */

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

body {
  background: black;
  overflow: hidden;
  font: 1vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
}
h1{
  margin-top: 30vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font: 8vw "Finger Paint";
  color: whitesmoke;
}

span {
  padding-top: -5vh;
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

span:nth-child(even){
  padding-top: -10vh;
  animation-name: smoky-mirror;
}

@keyframes smoky {
  30% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 12px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  30% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg)
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 12px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){
    animation-delay: #{(3 + ($item/10))}s;
  }
}
h5{
  color: whitesmoke;
}

.cancel-modal {
  border: none;
  height: 60px;
  margin-top: -4%;
  margin-right: 1.5%;
  outline: none;
  width: 45px;
}
