<div class="confess-form">
  <form ng-submit="ctrl.confess()">
    <h2>Submit Confession</h2>
    <p>Category</p>
    <select name="category" ng-model="ctrl.category">
      <option value="dream"> A Dream</option>
      <option value="fantasy">A Fantasy</option>
      <option value="first">First Experience</option>
      <option value="guilt">A Guilt</option>
      <option value="lie">A Lie</option>
      <option value="pain">A Pain</option>
      <option value="random">A Random feeling</option>
      <option value="truth">A Truth</option>
      <option value="wild">A Wild Experience</option>
      <option value="other">Other</option>
      </select>
      <p>Confession</p>
      <textarea name="confession" ng-model="ctrl.confession"></textarea><br>
      <input type="submit" value="Confess">

  </form>
</div>
